Package: cn.sttt.wchookcell
Name: WCHookCell
Version: 1.0.0
Architecture: iphoneos-arm
Description: WeChat plugin management registration example
Maintainer: sttt
Author: sttt
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://Mieing.Github.io/repo/file/wechat.png

